<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .nav-bar {
            display: flex;
            height: 5rem;
            background-color: skyblue;
            align-items: center;
            justify-content: space-between;
        }
        .logo {
            color: white;
            font-weight: bold;
            font-size: 2.5rem;
        }
    </style>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">Find life</div>
        <div class="search bar"></div>
    </div>
</body>
</html>