<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .chat-room-item {
            height: 6rem;
            border: 1px solid grey;
            cursor: pointer;
            display:flex;
        }
        .chat-room-item:hover {
            background-color: #EDEDED;
        }
    </style>
</head>
<body>
<th:block th:replace="~{fragments/navBar :: navBar}"></th:block>
<div class="container">
    <div class="chat-room-list" id="chat-room-list">

    </div>
</div>
<script>
    fetch('/api/dm-rooms')
        .then(response => response.json())
        .then(dmRoom => {
            const dataList = data.map(room => {
                return `
                        <div class="chat-room-item" id="${dmRoom.user1Id}">
                            <div class="chat-room-user-img">
                                <img src="">
                            </div>
                            <div class="chat-room-user-name">
                                ${dmRoom.user1Id}
                            </div>
                        </div>
                    </div>
                `;
            }).join('');

            document.getElementById('chat-room-list').innerHTML = dataList;

            var dmRooms = document.getElementsByClassName('chat-room-item');

            Array.from(dmRooms).forEach(function(dmRoom) {

                room.addEventListener('click', function() {

                    window.location.href = "/dm/" + dmRoom.id;
                });
            });

        })
        .catch(error => console.error('Error:', error));

</script>
</body>
</html>