<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="post">

        <input type="text" placeholder="Unit Number">
        <input type="text" placeholder="Street Name, Number">
        <input type="text" placeholder="City">
        <input type="text" placeholder="State">

        <input type="number" placeholder="Bedroom Count">
        <input type="number" placeholder="Bathroom Count">
        <input type="number" placeholder="Tenant Count">
        <input type="number" placeholder="Bill">
        <input type="text" placeholder="About the property">
        <input type="text" placeholder="About the Share mates">
        <input type="file" placeholder="Pictures">


    </form>
</body>
</html>