<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <div class="user-profile" id="user-profile">
        <div id="user-picture">picture</div>
        <div id="user-name">username</div>
        <div class="btn">Edit my profile</div>
        <div class="btn">My list</div>
    </div>

    <script>
        fetch('/api/users/me')
            .then(response => response.json())
            .then(data =>

                document.getElementById("user-profile");
                document.getElementById("user-profile").text(data.name);
            )
    </script>
</body>
</html>