<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
    <style>
        .card {
            box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
        }
        .card-body {
            padding: 1rem;
        }
        .img {
            height: 20rem;
        }
        .section {
            width: 42.5rem;
        }
        .card-title {
            font-size:1.35rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
        }
        .card-contents {
            color: rgba(67, 67, 67, 1);
            font-size:1.25rem;
        }
    </style>
</head>
<body>
<form action="/search-posts" method="get">
    <input type="text" name="city" id="input-city">
    <input type="submit">
</form>
<div id="data">
    <div class="section">
        <div class="card">
            <div class="img">
                <p>주요 이미지: ${room.mainImage}</p>
            </div>

            <div class="card-body">
                <div class="card-title">
                    $450 / Week + $900 bond (Not inc. bills)
                </div>
                <div class="card-contents">
                    <div class="card-contents-text">Richmond, Melbourne</div>
                    <div class="card-contents-text">2B2B - 1 Room in Share house - 1 or 2 people</div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img">
            </div>

            <div>
                <div class="card-title">
                    ${room.address}
                </div>
            </div>

            <p>주소: </p>
            <p>주요 이미지: ${room.mainImage}</p>
            <p>임대료: ${room.rentFee}</p>
            <p>보증금: ${room.bond}</p>
            <p>청구: ${room.bill}</p>
            <p>임대료: ${room.rent}</p>
            <p>침실 수: ${room.bedroomCount}</p>
            <p>화장실 수: ${room.bathRoomCount}</p>
            <p>유형: ${room.type}</p>
        </div>
    </div>
</div>
    <script>
        fetch('/api/rooms/[[${city}]]')
            .then(response => response.json())
            .then(data => {
                const dataList = data.map(room => {
                    return `
                        <div>
                            <p>주소: ${room.address}</p>
                            <p>주요 이미지: ${room.mainImage}</p>
                            <p>임대료: ${room.rentFee}</p>
                            <p>보증금: ${room.bond}</p>
                            <p>청구: ${room.bill}</p>
                            <p>임대료: ${room.rent}</p>
                            <p>침실 수: ${room.bedroomCount}</p>
                            <p>화장실 수: ${room.bathRoomCount}</p>
                            <p>유형: ${room.type}</p>
                        </div>
                    `;
                }).join('');

                document.getElementById('data').innerHTML = dataList;
            })
            .catch(error => console.error('Error:', error));
    </script>
</body>
</html>